@font-face {
	font-family: BreeSerif;
    src: url(BreeSerif-Regular.otf);
}

@font-face {
	font-family: Berlnsr;
	 src: url(BRLNSR.TTF);
}

.background {
    -fx-background-color: #feb914;
}

.label {
	-fx-background-color: #feb914;
    -fx-font-size: 25.0pt;
    -fx-font-weight: bold;
    -fx-font-family: "Bree Serif", BreeSerif;
    -fx-text-fill: black;
    -fx-opacity:1.0;
}


.table-view {
    -fx-base: #FFFAF0;
    -fx-control-inner-background:#FFFFFF;
    -fx-background-color: #FFFAF0;
    -fx-border-color: #feb914;
    -fx-font-family: "Berlin Sans FB", Berlnsr;
    -fx-font-size: 20.0pt;
    -fx-table-cell-border-color: #feb914;
    -fx-table-header-border-color: #feb914;
    -fx-padding: 5.0;
}

.table-view .label{
	-fx-background-color: #FFFAF0;
    -fx-font-size: 20.0pt;
    -fx-font-weight: bold;
    -fx-font-family: "Bree Serif", BreeSerif;
    -fx-text-fill: #ef4136 ;
    -fx-font-family: "Bree Serif";
    -fx-text-fill: black;
    -fx-opacity:0.6;
}

.table-view .column-header {
	-fx-border-color: #feb914;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 20.0;
    -fx-border-width: 0.0 0.0 0.0 0.0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80.0%) 
        transparent;
    -fx-border-insets: 0.0 10.0 1.0 0.0;
    -fx-text-fill: #ef4136;
	-fx-font-family: "Bree Serif", BreeSerif;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #FFDAB9 ;
}

.table-view:focused .table-row-cell:filled:hover {
    -fx-background-color: #ef4136;
}

.text-field {
    -fx-font-size: 20.0pt;
    -fx-border-color: #FFDEAD;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #ef4136 ;
    -fx-font-family: "Bree Serif", BreeSerif;
}